extends layout.pug
block scripts
    style
        include ../public/style/directions.css
        include ../public/style/form_add_update.css
    script
        include ../public/scripts/direction.js
        include ../public/scripts/jquery-3.2.1.min.js

block content
    div(class="nav")
        div(class="nav__left")
          a(href="/profile" class="btn nav-home" ) Главная
          a(href="/users" class="btn nav-users")  Пользователи
          a(href="/directions" class="btn nav-dirs") Направления
          a(href="/groups" class="btn nav-groups")  Группы
          a(href="/up" class="btn nav-up") Учебный план
          a(href="/marks" class="btn nav-schedule")  Оценки    
          a(href="/schedule" class="btn nav-shedule")  Расписание
        div(class="nav__right")
          div(class="nav__right-user") Пользователь: #{username}
          a(href="/login" )
            button(type="button" class="btn btn-light btn-image nav__right-exit" id="exit")  Выход

    
    div(class="block__line")
            button(class="btn btn-light btn-image block__line-add") Добавить
            button(class="btn btn-light btn-image block__line-update") Изменить
            button(class="btn btn-light btn-image block__line-del") Удалить

    div(class="container")
        table(class="table")
            thead
                tr
                    th №
                    th Код
                    th Направление
            tbody(class="table_body")
                -for(var i=0;i<resultQuery.length;i++){
                    tr(class="info")
                        th(id="info-id")=resultQuery[i].id
                        th(id="info-code")=resultQuery[i].code
                        th(id="info-dir")=resultQuery[i].direction
                -}

    div(class="block__input")
      div(class="block__add")
            p Направление
            div(class="form-group")
                label Код:
                input(type="text" class="form-control" id="field-code" placeholder="Введите код" )
            div(class="form-group")
                label Наименование направления:
                input(type="text" class="form-control" id="field-name" placeholder="Введите наименование" )
            div(class="block__add__form__button")    
                button(class="btn btn-primary" class="button-add") Добавить
                button(class="btn btn-primary" class="button__cancel-add") Отмена


      div(class="block__update")
            p Направление
            div(class="form-group")
                label Код:
                input(type="text" class="form-control" id="field__currernt-code" placeholder="Введите код" )
            div(class="form-group")
                label Наименование направления:
                input(type="text" class="form-control" id="field__currernt-name" placeholder="Введите наименование" )
            div(class="block__add__form__button")    
                button(class="btn btn-primary" class="button__save") Сохранить
                button(class="btn btn-primary" class="button__cancel-save") Отмена
