extends layout.pug
block scripts
	style
		include ../public/style/marks.css
	script
		include ../public/scripts/jquery-3.2.1.min.js
	script
		include ../public/scripts/js_marks.js
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")

block content
	div(class="nav")
		div(class="nav__left")
			a(href="/profile" class="btn nav-home" ) Главная
			a(href="/marks" class="btn nav-up") Предметы и оценки    
			a(href="/schedule_student" class="btn nav-shedule")  Расписание
			a(href="/msg" class="btn nav-primary")  Сообщения
		div(class="nav__right")
			div(class="nav__right-user") Пользователь: #{username}
			a(href="/login" )
				button(type="button" class="btn btn-light btn-image nav__right-exit" id="exit")  Выход

	div(class="block")
		h2 Здесь Вы можете просмотреть и выставить итоговые оценки по предметам 
		
		div(class="row")
			div(class="col")
				select(name='group' id='group_change' class="form-control")
					option(disabled selected) Выберите группу
					- var c = groups
					each item in c
						option(value=item.id)=item.name
			div(class="col")
				select(name='dis' id='sem_change' class="form-control")
					option(disabled selected) Выберите семестр
			div(class="col")
				select(name='dis' id='dis_change' class="form-control")
					option(disabled selected) Выберите дисциплину

		
		div(id="table")
		button(type='button' id='submarks' class="btn button-ok btn-primary") Ок
			