extends layout_student.pug

block scripts
  style
    include ../public/style/profile_student.css

  
block content
    div(class="container")
      h4(class="block-title") Объявления
      div(class="clear")
      div(id="container")
        - var g = not
          each item in g
            div(class="not")
              p(class="mess")=item.text
              p(class="auth")=item.surname+" "+item.name+" "+item.lastname
              p(class="time")=item.time
