extends layout.pug

block scripts
  style
    include ../public/style/profile_student.css

  
block content
    div(class="nav")
        div(class="nav__left")
          a(href="/profile" class="btn nav-home" ) Главная
          a(href="/subjects" class="btn nav-up") Предметы и оценки    
          a(href="/schedule/student" class="btn nav-shedule")  Расписание
          a(href="/msg" class="btn nav-primary")  Сообщения
        div(class="nav__right")
          div(class="nav__right-user") Пользователь: #{username}
          a(href="/login" )
            button(type="button" class="btn btn-light btn-image nav__right-exit" id="exit")  Выход

    div(class="container")
      h4(class="block-title") Объявления
      div(class="clear")
      div(id="container")
        - var g = not
          each item in g
            div(class="not")
              p(class="mess")=item.text
              p(class="auth")=item.surname+" "+item.name+" "+item.lastname
              p(class="time")=item.time