head
  title Личный кабинет
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
  style
    include ../public/style/admin.css
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
  
body
    div(class="header")
      p Пользователь: #{user}
      a(href="/login" )
        button(type="button" class="btn btn-link" id="exit")  Выход
    div(class="container")
      div( id="menu")
        a(href="/profile" class="btn btn-primary" id="current") Главная
        a(href="/schedule/teacher" class="btn btn-primary") Расписание    
        a(href="/up/teacher" class="btn btn-primary") Учебный план    
        a(href="/marks/teacher" class="btn btn-primary")  Оценки
        a(href="/msg" class="btn btn-primary")  Сообщения          
    h4(class="o") Расписание 
    div(class="clear")
    p Страница в разработке