extends layout_admin.pug

block scripts
  link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
  style
    include ../public/style/schedule.css


block content

  div(class="container")        
    h4(class="o") Расписание 
    div(class="clear")
    p Страница в разработке
