extends layout.pug
block scripts
  style
      include ../public/style/form_add_update.css
  script
    include ../public/scripts/js_subjects.js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
  
block content
    div(class="nav")
        div(class="nav__left")
          a(href="/profile" class="btn nav-home" ) Главная
          a(href="/subjects" class="btn nav-up") Предметы и оценки    
          a(href="/schedule/student" class="btn nav-shedule")  Расписание
          a(href="/msg" class="btn nav-primary")  Сообщения
        div(class="nav__right")
          div(class="nav__right-user") Пользователь: #{username}
          a(href="/login" )
            button(type="button" class="btn btn-light btn-image nav__right-exit" id="exit")  Выход
    div(class="container")                 
      h4(class="o") Предметы и оценки 
      div(class="clear")
      p(class="m") Выберите семестр
      select(name='dis' id='sem_change' class="form-control")
      div(id="table")