extends layout.pug
block scripts
	style 
		include ../public/style/up_teacher.css
	script
		include ../public/scripts/jquery-3.2.1.min.js
	script
		include ../public/scripts/js_file.js
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")

block content
	div(class="nav")
		div(class="nav__left")
			a(href="/profile" class="btn nav-home" ) Главная
			a(href="/up/teacher" class="btn nav-up") Учебный план    
			a(href="/marks/teacher" class="btn nav-marks")  Оценки
			a(href="/schedule/teacher" class="btn nav-shedule")  Расписание
			a(href="/msg" class="btn nav-primary")  Сообщения
		div(class="nav__right")
			div(class="nav__right-user") Пользователь: #{username}
			a(href="/login" )
				button(type="button" class="btn btn-light btn-image nav__right-exit" id="exit")  Выход

	div(class="container")
		h2 Просмотреть учебный план
		p
		div(class="row")
			div(class="col")
				select(name='dis' id='dis_change' class="form-control")
					option(disabled selected) Выберите направление
					- var c = dirs
					each item in c
						option=item.code+" "+item.direction
			div(class="col")
				select(name='year' id='year_change' class="form-control")
					option(disabled selected) Выберите год начала обучения
					- var c = masy
					each item in c
						option=item.year
		div(id="table")